.ace_editor.resizable {
  margin-bottom: 0;
}

.aceresize-grippie {
  background: #eee url(grippie.png) no-repeat center 2px;
  border: 1px solid #ddd;
  border-top-width: 0;
  cursor: s-resize;
  height: 9px;
  overflow: hidden;
}

.ace-wrapper {
  background-color: #f1f1f1;
  border: 1px solid #404040;
}
.ace-toolbar a {
  cursor: pointer;
  float: left;
  display: block;
  padding: 3px 5px;
}
.ace_search_options {
  margin-top: -24px;
}


.ace-full-screen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10000;
}
.ace-full-screen  .ace-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  border-width: 0;
}
.ace-full-screen .ace-wrapper pre {
  position: absolute;
  height: auto!important;
  top: 24px;
  bottom: 0;
}
